<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
    <div class="row topic">
      <h2>ユーザー設定</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.text_field :name, class: "form-control", placeholder: "表示名" %>
        </div>

        <% if @user.provider.blank? %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(パスワードを変更しない時は入力しないでください。)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %>文字以上入力してください</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder:"パスワード(確認)" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(変更の保存にはパスワード入力が必要です。)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
          </div>

        <% end %>

        <div class="field">
          <p>プロフィール画像</p>
          <div class="set_profile_img">
            <%= profile_img(@user) if profile_img(@user) %>
          </div>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか？" }, method: :delete, class: "btn btn-danger btn-block" %></p>

      <%= link_to "Back", :back %>

    </div>
  </div>
</div>
